
body{
  margin: 0px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/*----------PIECE----------*/

.plafond{
  position: relative;
  top: 0;
  width: 100vw;
  height: 50vh;
  background-color: #FBFF1E;
  z-index: 0;
}

h1{
   text-align: center;
    font-family: Verdana;
    font-size: 15pt;
    color: black;
  }

.sol{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 50vh;
  background-color: #FBFF1E;
  z-index: 0;
  }

.murdroite {
  position: absolute;
  top: 0;
  right: 0;
  height: 33.33vh;
  width: 0;
  border-top: 33.33vh solid transparent;
  border-bottom: 33.33vh solid transparent;
  border-right: calc(50vw - 16.665vh) solid #FF1EB7;
  background-color: transparent;
  z-index: 1;
}

.murgauche {
  position: absolute;
  top: 0;
  left: 0;
  height: 33.33vh;
  width: 0;
  border-top: 33.33vh solid transparent;
  border-bottom: 33.33vh solid transparent;
  border-left: calc(50vw - 16.665vh) solid #FF1EB7;
  background-color: transparent;
  z-index: 1;
}

.murfond{
  position: absolute;
  width: 33.33vh;
  height: 33.33vh;
  top: 33.33vh;
  left: calc(50vw - 16.665vh);
  background-color: #1EFF5E ;
  z-index: 3;
}

/*----------DECO----------*/

#boite{
  position: relative;
  top: 0;
  left: 0;
  width: calc(100% - 99px);
  height: calc(100% - 100px);
  border: 20px blue inset;
  padding: 30px;
  user-select: none; /* Pour qu'on puisse pas la selectionner */
  pointer-events: none; /* Pour qu'on puisse pas la selectionner */
  z-index: 3;
}

.peinturegauche{
  position: absolute;
  top: 1vh;
  left: 1vh;
  transform: rotate(20deg);
  z-index: 5;
}
