body {
background-image:url(images/fond.jpg);
}

p {
  color: pink;
  text-align: center;
  font-size: 30px;
  font-family: comic sans ms;
}


#parent {
   position: relative;
}
img.superpose {
   position: absolute;
   top: 25px;
   left: 35px;
}
#img_1 {
   z-index: 10;
}
#img_2 {
   z-index: 11;
   height: 450px
}

#img_3 {height: 44em;
  top: -20em;
  left: 36em;
  position: absolute;}
