html {
	font-size: 70%;
}

h1 {
	font-size: 80px;
  color: white;
  margin-left: 500px;
}

h2 {
	font-size: 60px;
  color: white;
  margin-left: 700px;
}

section {
    margin-left: 500px;
    border: 3px solid white;
}

section {
    margin-left: 500px;
    margin-right: 500px;
    border: 9px solid white;
}

section {
    margin-left: 500px;
}

p {
font-size: 30px;
color: white;
margin-left: 1000px;
}

body{
    background-color: #2C2F7E;
    font-family: 'Montserrat', sans-serif;
}

IMG.displayed {
    display: block;
    margin-left: 700px;
    margin-right: auto
  }
