body{
  cursor: url("curseur.png"), pointer;
  background-image: url("kenzawall.jpg");
}

h1 {
  font-family: cursive;
  color: white;
  font-size: 50px;
}

div.texte p{
color:red;
font-size: 30px;
font-weight: bold;
}

div.Kenza {
display :inline-block;

}

div.img {
;
}

div.Kenza p{
  margin-left: 10px;
  font-family: cursive;
  color: white;
  font-size: 50px;
  position : relative;
  float:right;
}

div.Kenza p1{
  margin-right: 60px;
  font-family: cursive;
  font-weight: bold;
  color: red;
  font-size: 50px;
  position : relative;
  float:right;
}
