body{
  background-color: #111;
  width:2900px;
}

.one{
 display: flex;
 justify-content: start;
 margin-right: 200px;
}

.menu{
  width:100%;
  margin:0;
}

header {
  width: 2074px;
}

header p{
  color:white;
  font-family:sans-serif;
  font-size: 100px;
  padding-left: 20px;
  font-weight: bold;
}

div.texte {
  width:40%;
}
 div.texte p{
  padding-left: 20px;
  vertical-align: text-top;
  color: white;
  font-size: 40px;
  font-family: sans-serif;
}

.tableau {
  width :100%;
}
.tableau div{
  display :inline-block;
}

.tableau .bonheur{
  width:45%;
  vertical-align: top;
}
.tableau .bonheur p{
  padding-left: 20px;
  color: #000;
  font-size: 200px;
  font-family: fantasy;
}
.tableau .bonheur p:hover{
  color:white;
  transition:1s all;
}
.tableau .image {
  width: 45%;
}
.tableau .image img{
  width : 100%;
  float : right;
  position: relative;
}

.fleche img{
  height:5000px;
  padding-top:1100px;
}

.two{
 display: flex;
 flex-direction: row-reverse;
 margin-bottom:20px;
 margin-right: 200px;
}

.doigt img{
  height:100px;
  padding-right: 20px;
}
