body{
  background-color: grey;
}

img{
  background-image: url('colette3.jpg.jpg');
  background-size: 130%;
  cursor: url('cursor.cur'), pointer;
}

h1 {
  text-align: center;
  background-color: red;
  font-size: 400px;
  font-family: sans-serif;
  margin-left: 200px;
  margin-right: 200px;
}

h2 {
  text-align: center;
  background-color: DodgerBlue;
  font-size: 300px;
  font-family: sans-serif;
  margin-left: 200px;
  margin-right: 200px;
}

h3 {
  text-align: center;
  background-color: DodgerBlue;
  font-size: 70px;
  font-family: sans-serif;
  margin-left: 200px;
  margin-right: 300px;
}

h4 {
  text-align: center;
  background-color: DodgerBlue;
  color: red;
  font-size: 40px;
  font-family: sans-serif;
  margin-left: 200px;
  margin-right: 300px;
}

p1{
  background-color: rgb(255, 99, 71);
  font-family: sans-serif;
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
}

p2{
  background-color: rgb(255, 99, 71);
  text-align: center;
  font-family: sans-serif;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
}

p3{
  background-color: rgb(255, 99, 71);
  text-align: center;
  font-family: sans-serif;
  font-size: 35px;
}

section{
  text-align: center;
}

IMG.displayed {
    display: block;
    margin-left: 1150px;
    margin-right: auto;
}

li{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: DodgerBlue;
  background-color: red;
  margin-left: 160px;
  margin-right: 300px;
  text-align: center;
}
