h1{
  font-family: helvetica;
  font-size: 12px;
  margin:30px;
  padding-bottom: 30px;
}

.menu{
  padding:30px;
}

table, td{
  border: 20px solid black;
  border-collapse: collapse;
}

img{
  width:100px;
  height:100px
}

svg{
  width:100px;
  height:100px;
}

rect{
  fill: white;
  width:100px;
  height:100px;
}
