body{
  background-color: white;
}

P1{
  background-color: yellow;
  font-size: 45px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

p2{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  background-color: yellow;
}

p3{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  background-color: yellow;
}

p4{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  background-color: yellow;
}

h1{
  background-color: yellow;
  color: red;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 400px;
  text-align: center;
  font-family: inherit;
}

h2{
  background-color: red;
  color: yellow;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 100px;
  font-family: inherit;
}

h3{
  background-color: yellow;
  color: red;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 50px;
  font-family: inherit;
}

h4{
  background-color: red;
  color: yellow;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 30px;
  text-align: center;
  font-family: inherit;
}

h5{
  background-color: red;
  color: white;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 20px;
  text-align: center;
  font-family: inherit;
}

section {
    margin-left: 280px;
    margin-right: 280px;
    border: 20px solid red;
}

article{
  margin-left: 1050px;
  margin-right: 200px;
  width: 500px;
  height: 400px;
  background-color: red;
}

article{
  margin-left: 1050px;
  margin-right: 200px;
  width: 500px;
  height: 400px;
  background-color: red
}

#global {
  margin-left: auto;
  margin-right: auto;
  width: 2500px;
  text-align: center;
}

li {
 font-family: 'Montserrat', sans-serif;
 font-size: 100%;
 color: red;
 background-color: yellow,
}
