
body{
margin: 30px;  /* Marges sur toute la page*/
font-family: sans-serif;
color: black;
}

h1 {
  text-align: center; /* Centrer le titre H1 */
}

p {
  margin: 0px; /* Enlève les marges prédéfinies des paragraphes, pour les définir avec le "padding"*/
}

.cadre-rouge{
background-color: red;
color: white; /* Couleur du texte */
font-size: 16px;
padding: 10px 20px 10px 20px; /* Marges intérieures (haut, droite, bas, gauche) entre le texte et les bords. Notez que visuellement il faut des marges plus petites en haut et en bas */
border-radius: 10px; /* Bords ronds pour le cadre */
margin-bottom: 30px; /* Marge avec l'élément suivant */

}

.info { /* Style du texte entre les "span" */
font-family: sans-serif;
font-weight: 100;
font-size: 14px;
}

p2 {
  color: red;

}
