
body{
background-image:url(lesimages/1.stayscreen.png);
background-size: 100% auto;
}

header  {
  color :white;
}

div#tableau {
  padding-top: 250px;
}

div.stay img{
  width:30%;
}

div.at img{

  width:30%;
}

div.screen img{

  width:30%;
}

div.oeil img{

  width:30%;
}

img{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
