body {
  padding-left: 11em;
  font-family: Helvetica,
        Times, serif;
  color: grey;
  background-color: black;
  opacity : 0.9}
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
        font-size: smaller;
      }
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black;
  font-size: smaller;}
ul.navbar a {
  text-decoration: none }
a:link {
  color: grey }
a:visited {
  color: black }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
