<<<<<<< HEAD
h1{text align:center;}

=======
h1{text align:center;}::afte!
>>>>>>> efccd1d0d41c9f02579743ece1ff5f025b5c9d24
.c16{
  position: absolute;
  top: 350px
  left:450px
 }


h1{font-family:serif;
font-style: oblique;}

h2{text-align: center;
font-family: serif;}

p1{font-style: italic;
font-family: serif;}

p2{font-style: italic;
font-family: serif;}

p3{font-style: italic;
font-family: serif;}

p4{font-style: italic;
font-family: serif;}


body {
  color: black;
  background-color: grey;
}

img{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
