body {background-image: url("img_1670.jpg");
background-size: 270%;
cursor: url('cursor.cur'), pointer;
}
body {
  background-image: url("img/img_1726.jpg");
  background-size: 270%;
  cursor: url('img/cursor.cur'), pointer;
  }

em{
  color:#5F9EA0
}
a{
  color : #CD853F
}

.menu{
  z-index: 0;
  position: absolute;
  margin-left: 300px;
}

h1{
  font-size: 80px;
  font-family: Helvetica;
  color: red;
  text-align: center;
}
h2{
  font-size: 30px;
  font-family: comic sans Ms
}

.centré{
  text-align: center;
}

#pos{
  position: relative;
  z-index: 2;
}

h4 {
  font-size: 30px;
  font-family: comic sans Ms
}

.miam{
  padding-top: 125px;
}

/* superpostion des images */
.positionarbre{
  position: absolute;
  left: 20%
}

.arbre{
  margin:-50px;
  padding-left: 20%;
  padding-top: 100px;
}
.arbre img{
  height:500px;
}
