body{
background-color: green; color: white;
}

p1{color: blue; font-family: cursive; font-size: 20px}

p3 {font-size: 60px; font-weight: bold; text-align: center;
}

.texte{
  font-size: 120pt;
  display: flex;
  justify-content: center;
  font-family:fantasy;
  color: rgb(0, 255, 0);
  padding-top: 50px;
  text-decoration-line: overline;
  text-decoration-color: rgb(0, 0, 255);;
}

.bloc{
  position: absolute;
  right:260px;
  padding: 50px;
}
