
@font-face {
  font-family: 'Ouroboros';
  src: url('Fonts/Ouroboros-Regular.eot?') format('eot')
  src: url('Fonts/Ouroboros-Regular.otf') format('truetype'),
     url('Fonts/Ouroboros-Regular.woff') format('woff'),
     url('Fonts/Ouroboros-Regular.woff2') format('woff2')
     font-weight: normal;
     font-style: normal;
}

div#msg {
  font-size: 300%;
  font-family: Ouroboros, serif ;
  color: white;
  opacity: 0.9;
  filter: blur(1px);
  text-align: center;
  text-shadow: 0px 0px 10px white;
}

div#animation1{
    cursor: url("pictures/curseur2.png"), pointer;
    animation: blink1 20s;
    animation-fill-mode: forwards;
}
@keyframes blink1{
    0%{opacity: 0;}
    30%{opacity: 0;}
    60%{opacity: 1;}
    100%{opacity: 0;}
}

div#animation2{
    cursor: url("pictures/curseur2.png"), pointer;
    animation: blink2 16s;
    animation-fill-mode: forwards;
}
@keyframes blink2{
    0%{opacity: 0;}
    15%{opacity: 0;}
    65%{opacity: 1;}
    100%{opacity: 0;}
}
div#animation3{
    cursor: url("pictures/curseur.png"), pointer;
    animation: blink3 20s;
    animation-fill-mode: forwards;
}

div#animation4{
    cursor: url("test2.gif"), pointer;
    animation: blink4 20s;
    animation-fill-mode: forwards;
     margin-top: -480px;
     opacity: 0.5;
}

}
@keyframes blink3{
    0%{opacity: 0;}
    15%{opacity: 0;}
    65%{opacity: 1;}
    100%{opacity: 0;}
}

body {background-image: url("pictures/blackground.png")}

}

}
