body{
width: 100%;
height: 100%;
background-image:linear-gradient(180deg, #29ADE6, yellow);
overflow: hidden;
}


div.truc{
  width: 500px;
  height: auto;

  color: white; /* COULEUR DU TEXTE */
  font-weight: 200; /* TEXTE EN GRAS (200 C'EST LIGHT, 400 REGULAR, 600 BOLD)*/
  font-size: 60px; /* TAILLE DU TEXTE */
  font-family: sans-serif; /* TYPO DU TEXTE */

  border: 3px dotted black;
  border-radius: 50px; /* BORDS ARRONDIS */

  margin: auto; /* POUR LE CENTRER SUR LA PAGE */
  display: flex;  /* POUR CENTRER SES ENFANTS */
  justify-content: center; /* POUR CENTRER SES ENFANTS */
  align-items: center; /* POUR CENTRER SES ENFANTS */

  background: #5cb0ff; /* FOND EN DÉGRADÉ */
  background: -moz-linear-gradient(top, #5cb0ff 0%, #115cac 100%);
  background: -webkit-gradient(top, top, color-stop(0%, #5cb0ff), color-stop(100%, #115cac));
  background: -webkit-linear-gradient(top, #5cb0ff 0%, #115cac 100%);
  background: -o-linear-gradient(top, #5cb0ff 0%, #115cac 100%);
  background: -ms-linear-gradient(top, #5cb0ff 0%, #115cac 100%);
  background: linear-gradient(to bottom, #5cb0ff 0%, #115cac 100%);
}

div.truc:hover { /* STYLES QUI CHANGENT EN "HOVER" */
  color: black;
  background: yellow;
}

div.img {
  height:800px;

}
div.img img{
  display: block;
  margin-top: 50px;
  margin-left: auto;
margin-right: auto;
}

/* div.img img.tete{
display:block;
margin-top: 20px;
margin-left: auto;
margin-right: auto;

}  */

/*Victor*/
.dvd{
  position: absolute;
  width: auto;
  height: auto;
  border: 1px solid black;
  margin: auto;
  top: auto;
  left: auto;
  z-index: 100;
}
