body {
  padding-left: 25em;
  background-color: #B7DEC1;
  font-family: "impact";
  color: white;
}
  h1 {
font-size:200%;
font-family: "impact";
 }
  h3 {
font-size:150%;
font-family: "impact";
}
  p {
font-size:150%;
font-family: "impact";
}
  h5 {
font-size:150%;
font-family: "impact";
}

h6 {
font-size:300%;
font-family: "impact";
}
